.Nav{
    background-color: darkgrey;
    display:flex;
    height:100%;
    width: 15%;
    position: absolute;
    left:0;
    top:0;
    padding-left:auto;
    margin:0;
}
.Nav ul{
    margin:0px;
    padding:auto;
    padding-top: 5vw;
    padding-left:10px;
}
.Nav li{
    padding:auto;
    margin:10px 30px 10px 10px ;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 3px;
    width:auto;
    font-size: 3vw;
}

.Nav-Username{
    display:flex;
    position:absolute;
    top:0;
    font-size:3vw;
}
.Nav-Username p{
    margin:20px 0px 0px 0px;
}
.Nav li:hover{
    cursor:pointer;
}
.Nav-Active{
    background-color:brown;
}