.Nav{
    background-color: darkgrey;
    height:100%;
    width: 15%;
    position: absolute;
    left:0;
    top:0;
    padding-left:auto;
    margin:0;
}
.Nav ul{
    position: relative;
    margin:0px;
    padding:auto;
    padding-top: 0vw;
    padding-left:10px;
}
.Nav li{
    padding:auto;
    margin:10px 30px 10px 10px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 10px;
    width:auto;
    font-size: 2vw;
    text-align: center;
}
.Nav div{
    display:block;
    margin-top:10px;
}
.Nav-Username{
    width:100%;
    height:auto;
}
.Nav-Username p{
    text-align: center;
    margin:0px;
    font-size:3vw;
}
.Nav li:hover{
    cursor:pointer;
}
.Nav-Active{
    background-color:brown;
}